################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build
/shape_pca_itk.dir/Release
/shape_pca_vtk.dir/Release
/x64/Release/ZERO_CHECK
/CMakeLists.txt
/find.cmake
